# Analytics
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX

# API Keys (if any)
# API_SECRET_KEY=your_secret_key_here

# Site URL
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Decentro API (Sandbox)
DECENTRO_CLIENT_ID=bjit65dlf5cth1jeeqru5m
DECENTRO_CLIENT_SECRET=a3gwV6KjfAHvaCXKyP2NQx6pGikVZsZL
DECENTRO_MASTER_CONSUMER_URN=B38DCBA4FB214BD88CE64D96BDC2F530

# Security
ENCRYPTION_SECRET=your_32_character_secret_key
